<footer class="bg-calm-green py-6 px-4">
  <div class="container mx-auto grid grid-cols-1 md:grid-cols-3 gap-4">
    <div class="text-deep-teal">
      <ul class="space-y-1">
        <li><a routerLink="" class="hover:underline">Home</a></li>
        <li><a routerLink="/teachers" class="hover:underline">Teachers</a></li>
        <li><a routerLink="/class-schedule" class="hover:underline">Class schedule</a></li>
        <li><a routerLink="/goals" class="hover:underline">Goals</a></li>
      </ul>
    </div>

    <div class="text-deep-teal text-left">
      <p class="font-bold text-xl">Contact us</p>
      <p>+380680001133</p>
      <p>lotus&#64;gmail.com</p>
      <p>st.m. Zoloti vorota, str. Rudenko 6-A</p>
    </div>

    <!-- Section 3: Social Media Links -->
    <div class="text-deep-teal text-right">
      <p class="font-bold text-xl">Follow us</p>
      <div class="flex justify-end space-x-4">
        <a href="https://www.linkedin.com" target="_blank" aria-label="LinkedIn">
          <img src="/social-media/linkedin.svg" alt="LinkedIn" class="h-6 w-6" />
        </a>
        <a href="https://www.facebook.com" target="_blank" aria-label="Facebook">
          <img src="/social-media/facebook.svg" alt="Facebook" class="h-6 w-6" />
        </a>
        <a href="https://www.tiktok.com" target="_blank" aria-label="TikTok">
          <img src="/social-media/tiktok.svg" alt="TikTok" class="h-6 w-6" />
        </a>
        <a href="https://www.youtube.com" target="_blank" aria-label="YouTube">
          <img src="/social-media/youtube.svg" alt="YouTube" class="h-6 w-6" />
        </a>
        <a href="https://www.instagram.com" target="_blank" aria-label="YouTube">
          <img src="/social-media/instagram.svg" alt="Instagram" class="h-6 w-6" />
        </a>
      </div>
    </div>
  </div>

  <div class="text-center mt-6 text-deep-teal">
    <p>© Lotus. All Rights Reserved.</p>
  </div>
</footer>
