<header class="header-container">
  <div class="logo-section">
    <a routerLink="/" class="logo flex items-center">
      <img src="/logo.svg" alt="Lotus Logo" class="logo-img">
      <div class="logo-text">Lotus</div>
    </a>
  </div>

  <button class="burger-menu" aria-label="Toggle Menu" (click)="toggleNav()">
    <span class="burger-line"></span>
    <span class="burger-line"></span>
    <span class="burger-line"></span>
  </button>

  <nav [class.open]="isNavOpen" class="nav-menu">
    <a routerLink="" routerLinkActive="active" class="nav-link">Home</a>
    <a routerLink="/teachers" routerLinkActive="active" class="nav-link">Teachers</a>
    <a routerLink="/class-schedule" routerLinkActive="active" class="nav-link">Class schedule</a>
    <a routerLink="/goals" routerLinkActive="active" class="nav-link">Goals</a>
    <button class="button join-button-mobile" (click)="openModal()">Join Us</button>
  </nav>

  <button class="button join-button-desktop" (click)="openModal()">Join Us</button>
</header>

<app-join-us
  [visible]="isModalVisible"
  (close)="closeModal()"
></app-join-us>
