<header class="flex justify-between items-center p-4 bg-calm-green">
  <div >
    <a routerLink="/" class="flex items-center">
      <img src="/logo.svg" alt="Lotus Logo" class="h-12 w-12">
      <div class="text-xl font-bold text-deep-teal">Lotus</div>
    </a>
  </div>
  <nav class="space-x-10">
    <a routerLink="" routerLinkActive="active" class="nav-link">Home</a>
    <a routerLink="/teachers" routerLinkActive="active" class="nav-link">Teachers</a>
    <a routerLink="/class-schedule" routerLinkActive="active" class="nav-link">Class schedule</a>
    <a routerLink="/goals" routerLinkActive="active" class="nav-link">Goals</a>
  </nav>
  <button class="button" (click)="openModal()">Join Us</button>
</header>
<app-join-us
  [visible]="isModalVisible"
  (close)="closeModal()"
></app-join-us>
