.nav-link {
  position: relative;
  color: var(--deep-teal);
  transition: color 0.3s ease;
  font-weight: bold;
  font-size: 20px;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--accent-green);
  bottom: -2px;
  left: 50%;
  transition: width 0.3s ease, left 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
  left: 0;
}

.button {
  background-color: var(--deep-teal);
  color: var(--calm-green);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.button:hover {
  background-color: #24a78c;
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
